.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 29%;
}

.fw-medium {
  font-weight: 500 !important;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.fw-extra-bold {
  font-weight: 800 !important;
}
.fw-black {
  font-weight: 900 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-monserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-marcellus {
  font-family: 'Marcellus', serif;
}

.font-sans-serif {
  font-family: sans-serif, system-ui;
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-kite-one {
  font-family: 'Kite One', sans-serif;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.fs-9 {
  font-size: 0.60rem !important;
}

.top--3px {
  top: -3px !important;
}

.bi-rotate-180::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.photo-crop-elipse-portrait {
  border: solid 5px rgba(200, 200, 200, 0.1);
  position: relative;
  width: 150px;
  height: 87px;
  border-radius: 50% / 50%;
  overflow: hidden;
  transform: rotate(-40deg) translateZ(0);
}

.photo-crop-elipse-portrait img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
  min-width: 100%;
  min-height: 100%;
}

.bg-color-dark-semi-transparent {
  background-color: rgba(25, 25, 25, 0.8) !important;
}

.px-3-a {
  padding-right: 1.01rem !important;
  padding-left: 1.01rem !important;
}

.px-3-b {
  padding-right: 1.02rem !important;
  padding-left: 1.02rem !important;
}

.px-3-c {
  padding-right: 1.03rem !important;
  padding-left: 1.03rem !important;
}

.px-3-d {
  padding-right: 1.04rem !important;
  padding-left: 1.04rem !important;
}

.px-3-e {
  padding-right: 1.05rem !important;
  padding-left: 1.05rem !important;
}

.px-3-f {
  padding-right: 1.06rem !important;
  padding-left: 1.06rem !important;
}

.px-3-g {
  padding-right: 1.07rem !important;
  padding-left: 1.07rem !important;
}

.px-3-h {
  padding-right: 1.08rem !important;
  padding-left: 1.08rem !important;
}

.px-3-i {
  padding-right: 1.09rem !important;
  padding-left: 1.09rem !important;
}

.px-3-j {
  padding-right: 1.1rem !important;
  padding-left: 1.1rem !important;
}

.px-3-k {
  padding-right: 1.11rem !important;
  padding-left: 1.11rem !important;
}

.px-3-l {
  padding-right: 1.12rem !important;
  padding-left: 1.12rem !important;
}

.px-3-m {
  padding-right: 1.13rem !important;
  padding-left: 1.13rem !important;
}

.px-3-n {
  padding-right: 1.14rem !important;
  padding-left: 1.14rem !important;
}

.px-3-o {
  padding-right: 1.15rem !important;
  padding-left: 1.15rem !important;
}

.px-3-p {
  padding-right: 1.16rem !important;
  padding-left: 1.16rem !important;
}

.px-3-q {
  padding-right: 1.17rem !important;
  padding-left: 1.17rem !important;
}

.px-3-r {
  padding-right: 1.18rem !important;
  padding-left: 1.18rem !important;
}

.px-3-s {
  padding-right: 1.19rem !important;
  padding-left: 1.19rem !important;
}

.px-3-t {
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

.px-3-u {
  padding-right: 1.21rem !important;
  padding-left: 1.21rem !important;
}
.px-3-v {
  padding-right: 1.22rem !important;
  padding-left: 1.22rem !important;
}
.px-3-w {
  padding-right: 1.23rem !important;
  padding-left: 1.23rem !important;
}

.px-3-x {
  padding-right: 1.24rem !important;
  padding-left: 1.24rem !important;
}

.px-3-y {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.px-3-z {
  padding-right: 1.26rem !important;
  padding-left: 1.26rem !important;
}

.pt-2-a {
  padding-top: 0.51rem !important;
}

.pt-2-b {
  padding-top: 0.52rem !important;
}

.pt-2-c {
  padding-top: 0.53rem !important;
}

.pt-2-d {
  padding-top: 0.54rem !important;
}

.pt-2-e {
  padding-top: 0.55rem !important;
}

.pt-2-f {
  padding-top: 0.56rem !important;
}

.pt-2-g {
  padding-top: 0.57rem !important;
}

.pt-1-half {
  padding-top: 0.12rem !important;
}

.fs-navbar-toggler-1 {
  font-size: calc(4.375rem + 1.5vw) !important;
}

.fs-navbar-toggler-2 {
  font-size: calc(3.375rem + 1.5vw) !important;
}

.fs-navbar-toggler-3 {
  font-size: calc(2.375rem + 1.5vw) !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.pb-6 {
  padding-bottom: 4rem !important;
}

.pb-7 {
  padding-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.flex-grow-half {
  flex-grow: 0.5 !important;
}

.flex-grow-third {
  flex-grow: 0.3 !important;
}

.text-bg-dark-50 {
  color: #fff !important;
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 0.5)) !important;
}

.text-bg-bordeaux {
  color: #fff !important;
  background-color: RGBA(109, 7, 26, var(--bs-bg-opacity, 1)) !important;
}

.text-bordeaux {
  color: RGBA(109, 7, 26, var(--bs-bg-opacity, 1)) !important;
}

.text-bg-bordeaux-50 {
  color: #fff !important;
  background-color: RGBA(109, 7, 26, var(--bs-bg-opacity, 0.5)) !important;
}

.text-bg-badge-burger-menu {
  color: #fff !important;
  background-color: rgba(14, 27, 104, var(--bs-bg-opacity, 0.32)) !important;
}

.btn-close-thick-3 {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: calc(1.4rem + 0.6vw) !important;
  height: calc(1.4rem + 0.6vw) !important;
}

.btn-close-thick-3::before,
.btn-close-thick-3::after {
  content: '';
  position: absolute;
  top: 0.6rem !important;
  left: 0;
  right: 0;
  height: 0.3rem;
  _background: white;
  border-radius: 0.5rem;
}

.btn-close-thick-3::before {
  transform: rotate(45deg);
}

.btn-close-thick-3::after {
  transform: rotate(-45deg);
}

.btn-close-thick-3.text-white::before {
  background: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.btn-close-thick-3.text-white::after {
  background: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.form-control.form-contact {
  background-color: rgb(4 47 89 / 65%) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
}
.form-control.placeholder-text-light::placeholder {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.form-select.form-contact {
  background-color: rgb(4 47 89 / 65%) !important;
}
input.form-contact:autofill {
  background-color: rgb(4 47 89 / 65%) !important;
}
input.form-contact:-webkit-autofill {
  background-color: rgb(4 47 89 / 65%) !important;
}
.input-group-text.form-contact {
  background-color: rgb(4 29 55 / 78%) !important;
}

.form-control.form-rdv-light-green {
  background-color: rgb(37 54 35 / 65%) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
}
.form-select.form-rdv-light-green {
  background-color: rgb(37 54 35 / 65%) !important;
}
input.form-rdv-light-green:autofill {
  background-color: rgb(37 54 35 / 65%) !important;
}
input.form-rdv-light-green:-webkit-autofill {
  background-color: rgb(37 54 35 / 65%) !important;
}
.input-group-text.form-rdv-light-green {
  background-color: rgb(24 48 22 / 84%) !important;
}

.form-control.form-rdv-light-brown {
  background-color: rgb(89 31 04 / 65%) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
}
.form-select.form-rdv-light-brown {
  background-color: rgb(89 31 04 / 65%) !important;
}
input.form-rdv-light-brown:autofill {
  background-color: rgb(89 31 04 / 65%) !important;
}
input.form-rdv-light-brown:-webkit-autofill {
  background-color: rgb(89 31 04 / 65%) !important;
}
.input-group-text.form-rdv-light-brown {
  background-color: rgb(48 31 22 / 84%) !important;
}
